@model MVCschool.Models.student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class.ClassName)
        </dd>
    </dl>
</div>
<hr/>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentId" class="btn btn-success">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>
