@model IEnumerable<MVCschool.Models.student>

@{
    ViewData["Title"] = "Index";
}

<h1>Students</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Add Student</a>
</p>
<table class="table table-bordered table-hover">
    <thead class="table-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.ClassName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.StudentId" class="btn btn-success btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


