@model IEnumerable<MVCschool.Models.Teacher>

@{
    ViewData["Title"] = "Teachers";
}

<h1>Teachers</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <thead class="table-success">
        <tr>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th>
                Courses
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
        {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TLastName)
            </td>
            <td>
                @foreach (var course in item.Courses)
                {
                   @course.Title <br />      
                }
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.TeacherId" class="btn btn-primary btn-sm">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.TeacherId" class="btn btn-success btn-sm">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.TeacherId" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>   
}
    </tbody>
</table>